.FinishedQuiz {
    color: rgb(84, 99, 2);
    box-sizing: border-box;
    margin: 0 10px;
    border: 1px solid rgb(84, 99, 2);
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: bold;
}

.FinishedQuiz ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.FinishedQuiz ul li {
  margin-left: 10px;
}

.success {
color: rgba($color: #239c37, $alpha: 0.7);
}

.error {
color: rgba($color: #460101, $alpha: 0.7);
}
